# Gradle & build
.gradle/
build/
**/build/
.cxx/
.externalNativeBuild/

# Android Studio / IntelliJ
.idea/
*.iml
.DS_Store
Thumbs.db
captures/

# Local configuration
local.properties
/google-services.json
*.keystore
*.jks

# Generated
.navEditor.xml
.assetWizardSettings.xml